.list {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.list-head {
    box-shadow: 0 0 5px 0 #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.list-head button {
    width: 30px;
    height: 30px;
    background-color: #e8e2fd;
    border: none;
    border-radius: 5px;
}