@import '../Components/aHeader/Assets/Header.scss';
@import '../Components/aAuth/Assets/Auth.scss';
@import '../Components/CRUD/Assets/CRUD.scss';
@import './Variables/Variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $latoFont;
}

.dark {
    background-color: #202020e8 !important;
    color: #fff !important;
    transition: background-color 1s ease-out;
}

.light {
    background-color: #fff !important;
    color: unset !important;
    transition: background-color 1s ease-out;
}