@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$dark: #000014;
$light: #fff;

$latoFont: 'Lato',
sans-serif;
$montserratFont: 'Montserrat',
sans-serif;
$robotoFont: 'Roboto',
sans-serif;